In [ ]:
import os
import sys
sys.path.insert(0, os.path.abspath('..\pricemate-new'))

In [9]:
import pricemate as pm

In [14]:
# scrape data using pricemate module
df = pm.multiple_days_df(1,20)

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

Looking for [chromedriver 79.0.3945.36 win32] driver in cache
File found in cache by path [C:\Users\Zenbook\.wdm\drivers\chromedriver\79.0.3945.36\win32\chromedriver.exe]

In [18]:
# standard procedure: make a copy of the original data
df_raw = df

In [16]:
df.head()

,arrival_date,arrive_time,depart_date,depart_time,price,seats,tclass,title
0,2020-01-01,08:46,2020-01-01,05:30,120000,99,ekonomi (Subclass P),argo parahyangan 36
1,2020-01-01,09:49,2020-01-01,06:15,120000,10 kursi tersisa,ekonomi (Subclass P),argo parahyangan 38
2,2020-01-01,20:59,2020-01-01,17:45,120000,99,ekonomi (Subclass P),argo parahyangan 46
3,2020-01-01,22:08,2020-01-01,18:45,120000,99,ekonomi (Subclass P),argo parahyangan 48
4,2020-01-02,01:27,2020-01-01,22:05,120000,99,ekonomi (Subclass P),argo parahyangan 50

In [17]:
df.describe()

,arrival_date,arrive_time,depart_date,depart_time,price,seats,tclass,title
count,2241,2241,2241,2241,2241,2241,2241,2241
unique,21,18,20,18,19,12,13,28
top,2020-01-05,20:29,2020-01-05,17:10,,0,eksekutif (Subclass I),mutiara selatan 104
freq,117,200,117,200,1410,1410,433,200

1. show earliest train that's available at ekonomi class
2. show 10 bottom prices and their times

In [ ]:
# filter available tickets only
df_avail = df